<section>
    <h1>Bienvenidos a nuestra web de aficionados por los Superhéroes</h1>

    <p >Esta es una web de entretenimiento y de inter-comunicación entre aficionados de los Superhéroes totalmente gratuita y que pregona el respeto mutuo. Esperamos que te diviertas e informes de los distintos Superhéroes que existen, como así también podrás <a href="/api/crear"><strong>agregar</strong></a> el que tu desees a nuestra <a href="/api/heroes"><strong>lista de Superhéroes</strong></a>.</p>

</section>