<footer>
    <h1>Contáctanos</h1>
    <p>Puedes comunicarte con nosotros a través del correo electrónico:
        
        <a href="grupo09@modulo3.com">grupo09@modulo3.com</a>.</p>
    
    <hr>

    <p>&copy; grupo09, Módulo 3, EJS Layout P1 by Nodo Tecnológico - 2024 </p>
</footer>