<nav>
    <div>
        

        <ul>
            <li>
                <a href="/api/inicio">
                    Página de Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    Lista de Superhéroes
                </a>
            </li>
            <li>
                <a href="/api/crear">
                Agregar Superhéroe
                </a>
            </li>
            
        </ul>

    </div>
</nav>